<mat-toolbar color="primary" class="navbar">
    <span routerLink="/" class="logo">Grocery App</span>
    <span class="spacer"></span>

    <button mat-button routerLink="/products">Products</button>
    <button mat-button routerLink="/admin" *ngIf="(currentUser$ | async)?.role === 'admin'">Admin</button>

    <button mat-icon-button routerLink="/cart">
        <mat-icon [matBadge]="(cartItemCount$ | async)" [matBadgeHidden]="(cartItemCount$ | async) === 0"
            matBadgeColor="warn">shopping_cart</mat-icon>
    </button>

    <ng-container *ngIf="(currentUser$ | async) as user; else guest">
        <button mat-button [matMenuTriggerFor]="userMenu">
            <mat-icon>account_circle</mat-icon>
            {{user.name}}
        </button>
        <mat-menu #userMenu="matMenu">
            <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>
    </ng-container>

    <ng-template #guest>
        <button mat-button routerLink="/login">Login</button>
        <button mat-raised-button color="accent" routerLink="/signup">Sign Up</button>
    </ng-template>
</mat-toolbar>